.App {
  min-height: 100vh;
  background: #00879D;
  color: #00252B;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.tweet {
  border: .2px solid #CDD0BB;
  border-radius: 20px;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: #59939c;
}